# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env
.env.local

# IDE
.vscode/
.idea/

# Build artifacts
dist/
build/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

#ignore test csv files and scripts
*.csv
*.sh
